<header>
  <h1>Valle verde</h1>
  <h1>Reforesta</h1>
</header>

<form id='signup-form'>
  <h3>Registrate</h3>
  <label for='nombre'>Nombre</label>
  <input id='nombre' type='text' placeholder='Ingresa tu nombre' />

  <label for='apellido'>Apellido</label>
  <input id='apellido' type='text' placeholder='Ingresa tu apellido' />

  <label for='rut'>Rut</label>
  <input id='rut' type='text' placeholder='Ingresa tu rut' />

  <label for='email'>Email</label>
  <input id='email' type='text' placeholder='Ingresa tu email' />

  <label for='password'>Password</label>
  <input id='password' placeholder='Ingresa tu constrasena' />

  <p>Ya tienes una cuenta? <a href='/login'>Inicia sesion aqui</a></p>
</form>
<script defer src='js/signup.js'></script>